.home {
  width: 100%;
  min-height: 80vh;
}
.home-intro {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0;
}
.home-intro-heading {
  line-height: 1.5;
  flex-direction: column;
  display: flex;
}
.home-intro-heading .btn {
  align-self: center;
  width: 100px;
}
.home-intro-image img {
  width: 200px;
}
.home-intro-heading h1 {
  font-size: 30px;
  font-weight: bold;
}
button {
  margin-top: 3rem;
  background: #6d767ec4;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.4s ease;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  color: rgb(255, 217, 0);
}
.home-specialization {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}
.bottom-line {
  margin-top: 1rem;
  width: 10%;
  background: aqua;
  height: 2px;
}
.home-specialization p {
  font-size: 20px;
}
.home-specialization-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 26px;
  padding: 5px;
  margin: 20px;
}
.home-specialization-grid .item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.home-specialization-grid .item h3 {
  width: 100%;
  margin-bottom: 0.8rem;
  font-size: 20px;
  text-align: center;
}
.item p {
  font-weight: 100;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.4s ease;
}
.item p:hover {
  transform: scale(1.05);
  background: rgba(51, 51, 51, 0.068);
}
@media (max-width: 500px) {
  .home-intro .my-image {
    width: 150px;
    display: none;
  }
  .home-intro-heading {
    margin-right: 150px;
  }
  .home-intro-heading h1 {
    font-size: 24px;
  }
  .home-intro-heading h2 {
    font-size: 20px;
  }
  .home-specialization h2 {
    font-size: 18px;
  }
  .home-specialization-grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 5px;
    /* justify-items: center; */
  }
  .home-specialization-grid .item {
    width: 100%;
    justify-content: center;
  }
  .home-specialization-grid .item h3 {
    display: flex;
    align-items: center;
    align-self: center;
  }
  .home-specialization-grid .item h3 .icon {
    margin-left: 1rem;
  }
  .home-specialization-grid p {
    font-size: 16px;
  }
}
